parameters:
    level: 9  # Уровень строгости (0-9, где 9 — самый строгий)
    paths:
        - src   # Путь к анализируемому коду
    excludePaths:
        - tests # Исключить папку tests (если не хотите её проверять)